<!-- index.ejs -->
<html>
  <head>
    <link rel="stylesheet" href="/styles.css" />
    <title>Homepage</title>
  </head>
  <body>
    <ul>
      <% messages.forEach((msg) => { %> <%- include('message', { message: msg })
      %> <% }); %>
    </ul>
    <a href="/new">Add message</a>
  </body>
</html>
